:root {
    --vp-c-brand: #ED9954;
    --vp-c-brand-light: #FFC77D;
    --vp-c-brand-lighter: #ED9954;
    --vp-c-brand-dark: #bb7942;
    --vp-c-brand-darker: #915e35;
  
    --vp-c-sponsor: #ed5454;

    /* Typography */
    --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    /* Code Snippet font */
    --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }